.inputNumber {
    padding: 12px;
    margin-left: 0px;
    margin-right: 20px;
    display: inline-flex;
    border-radius: 5px;
    height: 6vh;
    width: 13vw;
    background-color: var(--lightGrey);
    color: black;
    border: 0px solid var(--lightGrey);
    -moz-appearance: textfield;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.inputNumber:hover {
    background-color: var(--stdCyan);  
}

.inputNumber:active {
    transform: translateY(1px);
}

.labelFile {
    padding: 1.5rem;
    height: 7vh;
    width: 50vw;
    background-color: var(--lightGrey);
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.labelFile:hover {
    background-color: var(--stdCyan);
    border: 0px solid var(--stdCyan);
}

.labelFile:active {
    transform: translateY(3px);
}

.inputFile {
    height: 6vh;
    display: none;
}

.iconBox {
    float: left;
    width: 2vw;
    margin-left: 0.7vw;
    text-align: center;
}