.inputNumber {
    padding: 1.5rem;
    margin-right: 20px;
    border-radius: 5px;
    background-color: var(--lightGrey);
    border: 0px solid var(--lightGrey);
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.inputNumber:hover {
    background-color: var(--stdCyan);  
}

.inputNumber:active {
    transform: translateY(1px);
}

.labelFile {
    padding: 1.5rem;
    width: 50vw;
    background-color: var(--lightGrey);
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.labelFile:hover {
    background-color: var(--stdCyan);
    border: 0px solid var(--stdCyan);
}

.labelFile:active {
    transform: translateY(3px);
}

.inputFile {
    display: none;
}
    
.button:active {
    opacity: 0.8;
    transform: translateY(4px);
}

.iconBox {
    float: left;
    width: 2vw;
    margin-left: 0.7vw;
    text-align: center;
}