.input {
    display: none;
}

.iconBox {
    float: left;
    width: 2vw;
    margin-left: 0.7vw;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 0;
    font-family: -Roboto, apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--stdWhite);
    background-color: var(--lightGrey);
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px #999;
    height: 4vh;
    width: 12vw;
    margin: 10px;
}
    
.button:hover {
    background-color: var(--stdCyan);
}
    
.button:active {
    opacity: 0.8;
    transform: translateY(4px);
}