.image {
    object-fit: contain;
}

.footerContainer {
    background-color: var(--lightGrey);
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    height: 18vh;
    width: 100%;
}

.portrait {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: relative;
}

.image {
    height: 7rem;
}