.footerContainer {
    position: relative;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.portrait {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

.image {
    height: 5rem;
}