.footerContainer {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 100%;
    background-color: var(--lightGrey);
    padding: 20px;
}

.image {
    height: 5rem;
}
