.WrapperGrid{
    margin: 0;
    padding: 0 15% 0 15%; 
    color: var(--stdWhite);
    text-align: center;
    position: relative;
}

.ContentGrid{
    display: grid;
    grid-gap: 20px;
    margin-bottom: 16vh;
}

.PackageButton{
    width: auto;
    height: 50px;
    border-radius: 10px;
    background-color: var(--stdWhite);
    color: var(--darkGrey);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.PackageButton:hover{
    background-color: var(--stdCyan);
    color: var(--stdWhite);
}

.PackageButton:active {
    opacity: 0.8;
    transform: translateY(4px);
}
