.WrapperGrid{
    width: auto;
    margin: 0 auto;
    padding: 0 70px;
    color: var(--stdWhite);
    text-align: center;
    position: absolute;
}

.ContentGrid{
    display: grid;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.PackageButton{
    width: auto;
    height: 50px;
    border-radius: 10px;
    background-color: var(--stdWhite);
    color: var(--darkGrey);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.PackageButton:hover{
    opacity: 0.8;
}