.container {
    width: 30%;
    height: 1000vh;
    background-color: var(--medGrey);
    position: absolute;
    
}

.headerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7.5vh;
    height: 5vh;
    background-color: var(--stdWhite);
}