.container {
    width: 30%;
    height: 100vh;
    min-height: 100vh;
    background-color: var(--medGrey);
    position: absolute;  
    overflow-y: auto;
    resize: horizontal;
    overflow:auto;
}

.headerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0vh;
    height: 15vh;
}